{% extends "base.html" %}
{% load course %}

{% block title %}
  Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}

{% block content %}
{% with course=module.course %}

  <div class="contents">
    <div class="side_bar_module"></div>
      <div class="side_bar_module_content">
    <p class="h2" style="color: rgba(255, 255, 255, 0.80);
font-family: Gilroy;
font-size: 32px;">Модули</p>
    <ul id="modules">
      {% for m in course.modules.all %}
        <li class="lessons" data-id="{{ m.id }}" {% if m == module %}class="selected"{% endif %}>
          <a style="color: rgba(255, 255, 255, 0.60); font-size: 20px;" href='{% url "course:module_content_list" m.id %}'>
            <!--<span>
              Модуль <span class="order">{{ m.order|add:1 }}</span>
            </span>-->
            <br>
            {{ m.title }}
          </a>
        </li>
      {% empty %}
        <li>Ни одного модуля не создано</li>
      {% endfor %}
    </ul>
    <p style="margin-top: 45px;"><a style="color: rgba(255,255,255,0.9); font-size: 20px; " href='{% url "course:course_module_update" course.id %}'>
    Редактировать модули</a></p>
  </div>
  </div>
</div>
  <div class="module_content">
    <p class="h1">Курс "{{ course.title }}"</p>
    <p class="h2" style="font-size: 24px;">Модуль {{ module.order|add:1 }}: {{ module.title }}</p>
    <p class="h1" style="font-size: 32px;">Контент модуля:</p>
    <div id="module-contents">
      {% for content in module.contents.all %}
        <div data-id="{{ content.id }}">
          {% with item=content.item %}
            <p>{{ item }} ({{ item|model_name }})</p>
          <div style="display: flex;">
          <a class="standart_btn" style="height:28px; margin-right: 30px;margin-bottom:30px; margin-top:30px;" href='{% url "course:module_content_update" module.id item|model_name item.id %}'>
              Редактировать
            </a>
            <form action='{% url "course:module_content_delete" content.id %}' method="post">
              <input style="margin-top: 30px;" class="standart_btn" type="submit" value="Удалить">
              {% csrf_token %}

            </form>
          </div>
            {% endwith %}
        </div>
      {% empty %}
        <p>У этого модуля пока нет контента :(</p>
      {% endfor %}
    </div>
    <p class="h2" style="font-size: 32px;">Добавить новый контент:</p>
    <div class="content-types">
        <a class="standart_btn" href='{% url "course:module_content_create" module.id "text" %}'>Текст</a>
        <a class="standart_btn" href='{% url "course:module_content_create" module.id "image" %}'>Картинка</a>
        <a class="standart_btn" href='{% url "course:module_content_create" module.id "video" %}'>Видео</a>
        <a class="standart_btn" href='{% url "course:module_content_create" module.id "file" %}'>Задание</a>
    </div>
  </div>
{% endwith %}
{% endblock %}

