{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit course "{{ object.title }}"
  {% else %}
    Create a new course
  {% endif %}
{% endblock %}

{% block content %}
<div class="standart_div">
  <p class="h1">
    {% if object %}
      Редактировать курс "{{ object.title }}"
    {% else %}
      Создать новый курс
    {% endif %}
  </p>
  <div class="module">
    <p class="h2" style="font-size: 24px;">Информация о курсе</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input style="margin-top: 30px;margin-bottom: 60px;" class="standart_btn" type="submit" value="Сохранить"></p>
    </form>
  </div>
</div>
{% endblock %}