<!--Отображает курсы на которые записан студент-->
{% extends "base.html" %}
{% block title %}My courses{% endblock %}

{% block content %}
<div class="main_courses_div">
  <h2 style="color: rgba(0,0,0,0.8);">Мои курсы</h2>
<div class="all_courses">
    {% for course in object_list %}
  <div class="course">
      <div class="course-info">
        <a style="margin-bottom: 15px;"class="course_card_title" href='{% url "student_course_detail" course.id %}'>{{ course.title }}</a>
         <p class="course_text">
          Предмет: {{ course.subject }}
        </p>
        <p class="course_text">Автор курса : {{ course.owner.get_full_name }}</p>
      </div>
    </div>

    {% empty %}
      <p style="font-size: 18px; color: rgba(0,0,0,0.6)">
        Вы пока не записаны ни на один курс<br><br>
        Перейти
        <a href='{% url "course_list" %}' style="color: #28B0DB">каталог</a>
        курсов
      </p>

    {% endfor %}


</div>
</div>
<div class="main_courses_div" style="margin-bottom: 50px;">
    <h2 style="color: rgba(0,0,0,0.8);">
        Перейти в <a style="color: #28B0DB;" href='{% url "course:manage_course_list" %}'>мастерскую</a>
    </h2>
    <a class="standart_btn" style="height: 28px;margin-top: 30px;margin-bottom: 60px;" href="{% url 'logout' %}">Выйти</a>
</div>


{% endblock %}