<!--Отображает курсы на которые записан студент-->
{% extends "base.html" %}
{% block title %}My courses{% endblock %}

{% block content %}
  <h1>Мои курсы</h1>
  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p><a href='{% url "student_course_detail" course.id %}'>
        Просмотреть курс</a></p>

      </div>
    {% empty %}
      <p>
        Вы пока не записаны ни на один курс.
        <a href='{% url "course_list" %}'>Запишитесь</a>
        на курс чтобы просмотреть все ваши курсы.
      </p>
    {% endfor %}
    <h1>
        <a href='{% url "course:manage_course_list" %}'>Мастерская</a>
    </h1>
  </div>
{% endblock %}