{% extends "base.html" %}

{% block title %}
  Sign up
{% endblock %}

{% block content %}

<div class="header_popup_links">
                      <a class="autoriz_popup_link"  href="../../accounts/login/">Авторизация</a>
                      <a class="registr_popup_link"  href="" style="color: rgba(0, 0, 0, 0.90);"  >Регистрация</a>
</div>

<div style="
  display: flex;
  justify-content: center;
  margin-top: 40px;

"
 class="auth_block">
  <div class="module">
    <p>Enter your details to create an account:</p>
    <form class="autorization_form" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input class="standart_btn" type="submit" style="margin-left:95px; margin-top: 45px;margin-bottom: 60px;" value="Зарегистрироваться"></p>
    </form>
  </div>
  </div>


{% endblock %}