{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edit content "{{ object.title }}"
  {% else %}
    Add new content
  {% endif %}
{% endblock %}

{% block content %}
<div class="standart_div">
  <p class="h1">
    {% if object %}
      Изменить контент "{{ object.title }}"
    {% else %}
      Добавить контент
    {% endif %}
  </p>
  <div class="module">
    <form action="" method="post" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input class="standart_btn" style="margin-top: 30px;margin-bottom: 60px;" type="submit" value="Сохранить"></p>
    </form>
  </div>
  </div>
{% endblock %}