{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
<div class="subheader">

  {% with subject=object.subject %}
    <h1>
      {{ object.title }}
    </h1>
     <div class="subheader_content">
      <p>
        Предмет: {{ subject.title }}

        </br>
        Количество модулей : {{ object.modules.count }}</br>
        Автор курса : {{ object.owner.get_full_name }}
      </p>
      </div>
  </div>
<div class="course_info">
    <p style="
  color: rgba(0, 0, 0, 0.80);
font-family: Gilroy;
font-size: 40px;
font-style: normal;
font-weight: 500;
line-height: normal;
">Описание курса</p>
  <p style="
  color: rgba(0, 0, 0, 0.60);
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
">
      {{ object.overview|linebreaks }}
  </p>
      {% if request.user.is_authenticated %}
<!--      Кнопка на запись на курс-->
        <form action='{% url "student_enroll_course" %}' method="post">
        {{ enroll_form }}
        {% csrf_token %}
          <input style="margin-bottom: 100px; margin-top: 60px;" class="standart_btn" type="submit" value="Пройти"></button>
        </form>
      {% else %}
      <a class="standart_btn" style="margin-bottom: 100px; margin-top: 60px; height: 45px;"  href='{% url "login" %}' class="button">
        Войти
      </a>
      {% endif %}


  {% endwith %}
    </div>

{% endblock %}