{% extends "base.html" %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block content %}
  <h1>
    {% if subject %}
      {{ subject.title }} courses
    {% else %}
      Все курсы
    {% endif %}
  </h1>
  <div class="contents">
    <h3>Предметы</h3>
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <h3>
        <a href='{% url "course_list" %}'>Все предметы</a>
        </h3>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <h3>
          <a href='{% url "course:course_list_subject" s.slug %}'>
            {{ s.title }}
            </h3>
          </a>
        </li>
      <span> Количество курсов : {{ s.total_courses }} </span>
      {% endfor %}
    </ul>
  </div>
  <div class="module">
    {% for course in courses %}
      {% with subject=course.subject %}
        <h3>
          <a href='{% url "course:course_detail" course.slug %}'>
            {{ course.title }}
          </a>
        </h3>
        <p>
          ПРЕДМЕТ:
          <a href='{% url "course:course_list_subject" subject.slug %}'>{{ subject }}</a>.
        </p>
        <p>Количество модулей : {{ course.total_modules }}.</p>
        <p>Автор курса : {{ course.owner.get_full_name }}</p>
      {% endwith %}
    {% endfor %}
  </div>
{% endblock %}