{% extends "base.html" %}

{% block title %}
  {% if subject %}
    {{ subject.title }} courses
  {% else %}
    All courses
  {% endif %}
{% endblock %}

{% block content %}

<div class="search_div">
<form class="search_form" method="GET">
    <div
    style="
    display: flex;
    flex-wrap: inherit;
    --bs-gutter-y: 0;
">
        <img src="../../../static/img/circum_search.svg">


    <input style="font-size: 16px;" class="search_input_field" type="search" placeholder="Введите название курса" name="searh" style="width:165px;">
    </div>
    <div class="dropdown">
    <button style="
    color: rgba(0,0,0,0.8);
     margin-left: 35px;
     margin-right: 35px;
    display: flex;
    font-size: 18px;
    flex-wrap: inherit;
    --bs-gutter-y: 0;
"

        class="dropbtn">Предметы<img style="margin-top:7px; margin-left: 3px;" src="../../../static/img/Polygon.svg"></button>

  <div class="dropdown-content">
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <p>
        <a href='{% url "course_list" %}'>Все предметы</a>
        </p>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <p>
          <a href='{% url "course:course_list_subject" s.slug %}'>
            {{ s.title }}

          </a>
              </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
    <button  class="standart_btn" type="submit">Найти</button>
</form>
    </div>




    <div class="main_courses_div">
        <h2 style="color: rgba(0,0,0,0.8);">
            {% if subject %}
             Курсы по предемету:  {{ subject.title }}
            {% else %}
              Курсы
            {% endif %}
        </h2>

  <div class="all_courses">
    {% for course in courses %}
      {% with subject=course.subject %}

    <div class="course">
        <h3>
          <a style="margin-bottom: 15px;"class="course_card_title" href='{% url "course:course_detail" course.slug %}'>
            {{ course.title }}
          </a>
        </h3>
        <p class="course_text">
          Предмет:
          <a class="course_card_link" href='{% url "course:course_list_subject" subject.slug %}'>{{ subject }}</a>
        </p>
        <p class="course_text">Количество модулей : {{ course.total_modules }}</p>
        <p class="course_text">Автор курса : {{ course.owner.get_full_name }}</p>
    </div>

      {% endwith %}

    {% endfor %}

  </div>
    </div>



{% endblock %}