{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Вход</h1>
  <div class="module">
    {% if form.errors %}
      <p>Никнейм или пароль неправильный. Пожалуйста попробуйте еще раз :)</p>
    {% else %}
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Войти"></p>
      </form>
    </div>
  </div>
{% endblock %}