{% extends "base.html" %}

{% block title %}Log-in{% endblock %}
{% block content %}

<div class="header_popup_links">
                      <a class="autoriz_popup_link" style="color: rgba(0, 0, 0, 0.90);" href="">Авторизация</a>
                      <a class="registr_popup_link"  href="../../students/register/"  >Регистрация</a>
                      </div>
    <div style="
  display: flex;
  justify-content: center;
  margin-top: 40px;

"
 class="auth_block">
<div class="module">
{% if form.errors %}
  <p>Почта или пароль были введены неверно</p>
{% else %}
{% endif %}
<div class="login-form">
  <form class="autorization_form" action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input class="standart_btn" type="submit" style="margin-top: 45px;" value="Авторизоваться"></p>
  </form>

</div>
</div>
</div>

{% endblock %}


